<!DOCTYPE html>
<html>
<head>
    <title></title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.stem" placeholder="题目">
            </div>

            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.metas" placeholder="答案">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("exam:examquestion:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("exam:examquestion:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("exam:examquestion:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
            <#if shiro.hasPermission("exam:examquestion:import")>
            <a class="btn btn-primary" @click="imp"><i class="fa fa-plus"></i>&nbsp;导入</a>
            </#if>
            <!--<#if shiro.hasPermission("exam:examquestion:catchQuestion")>-->
            <!--<a class="btn btn-primary" @click="catchq"><i class="fa fa-plus"></i>&nbsp;缓存每日题目</a>-->
            <!--</#if>-->
        </div>
        <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal" style="width: 100%">

        <div class="form-group">
            <div class="col-sm-2 control-label">题目类型</div>
            <div class="col-sm-5">
                <!--<input type="text" class="form-control" v-model="examQuestion.type" placeholder="题目类型"/>-->
                <select id="select" @change="changetype()" v-model="examQuestion.type" placeholder="请选择题目类型" class="form-control">
                    　　<option value="1">单选题</option>
                    　　<option value="2">多选题</option>
                    　　<option value="3">填空题</option>
                    　　
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">题目</div>
            <div class="col-sm-5">
                <textarea v-model="examQuestion.stem" rows="3" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group" v-show="showChoose">
            <div class="col-sm-2 control-label">备选答案</div>
            <div class="col-sm-5">

                <div class="col-sm-pull-12">

                    <div class="input-group form-group" v-for="(meta,index) in metalist">
                        <span class="input-group-addon">{{choose[index]}}</span>
                        <input type="text" class="form-control" v-model="metalist[index]" placeholder="答案内容" >
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" @click="delmeta(index)"><span class="glyphicon glyphicon-minus"></span></button>
                        </span>
                    </div>
                </div>
                <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" @click="addmeta()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">分数</div>
            <div class="col-sm-5">
                <input type="text" class="form-control" v-model="examQuestion.score" placeholder="分数"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">正确答案</div>
            <div class="col-sm-5">
                <input type="text" class="form-control" v-model="examQuestion.answer" placeholder="正确答案"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">解析</div>
            <div class="col-sm-5">

                <textarea v-model="examQuestion.analysis" rows="8" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">提示</div>
            <div class="col-sm-5">

                <textarea v-model="examQuestion.tips" rows="8" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group" v-show="isup">
            <div class="col-sm-2 control-label">状态</div>
            <div class="col-sm-5">
                <label class="radio-inline">
                    <input type="radio" name="status"  value="0" v-model="examQuestion.status"/> 禁用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="1" v-model="examQuestion.status"/> 正常
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <div class="col-sm-5">
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
             </div>
        </div>
    </form>
</div>
</div>
<input type="file" id="crowd_file" style="display: none;">
<script src="${request.contextPath}/statics/js/modules/exam/examquestion.js?_${.now?long}"></script>
</body>
</html>